/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

	.portfolio-slider {
		margin-bottom: 74px;
		margin-top: 53px;
	}
	
	.laptop-slider .flexslider {
		width: 600px;
		position: relative;
		left: 50%;
		top: 35px;
		margin-left: -300px;
	}
	
	.display-slider .flexslider {
		width: 846px;
		position: relative;
		left: 50%;
		top: 39px;
		margin-left: -423px;
	}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

.flexslider li {position: relative; }
	
.slider-text {position: absolute; overflow: hidden; min-height: 60px; bottom: 0; padding-left: 40px; padding-right: 50%; padding-bottom: 36px; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
.slider-title {font-size: 18px; line-height: 1.4; letter-spacing: 2px; text-transform: uppercase; font-weight: normal; color: #fff; font-family: 'Montserrat', 'Trebuchet MS', sans-serif; border-bottom: 1px solid #fff; -webkit-font-smoothing: antialiased;}
a.slider-title:hover {color: #f84545; border-bottom: 1px solid #f84545;}
.slider-desc { font-size: 14px; color: #fff; line-height: 1.4; margin-top: 16px;}


/* Direction Nav */

.flex-direction-nav {*height: 0;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-direction-nav .flex-prev:before {
		content: 'Ò';
		font-family: 'Web Symbols', sans-serif;
		text-decoration: none;
}

.flex-direction-nav .flex-next:before {
		content: 'Õ';
		font-family: 'Web Symbols', sans-serif;
		text-decoration: none;
}

.flex-direction-nav .flex-prev:hover:before {
		content: 'Ó';
}

.flex-direction-nav .flex-next:hover:before {
		content: 'Ö';
}

.about-slider .flex-direction-nav a {width: 24px; height: 24px; display: block; position: absolute; bottom: 40px; right: 40px; z-index: 10; cursor: pointer; color: #48226d; text-align: center; font-size: 24px; line-height: 1; border: none; }
.about-slider .flex-direction-nav .flex-prev {right: 70px;}

.portfolio-slider .flex-direction-nav a {width: 24px; height: 24px; display: block; position: absolute; bottom: 40px; right: 40px; z-index: 10; cursor: pointer; color: #48226d; text-align: center; font-size: 24px; line-height: 1; border: none; }
.portfolio-slider .flex-direction-nav .flex-prev {right: 70px;}

.laptop-slider .flex-direction-nav a {width: 30px; height: 30px; display: block; position: absolute; bottom: 165px; right: -100px; z-index: 10; cursor: pointer; color: #ccc; text-align: center; font-size: 30px; line-height: 1; border: none; }
.laptop-slider .flex-direction-nav .flex-prev {left: -100px;}
.laptop-slider .flex-direction-nav .flex-prev:hover:before, .laptop-slider .flex-direction-nav .flex-next:hover:before { color: #48226d !important; }

.display-slider .flex-direction-nav a {width: 30px; height: 30px; display: block; position: absolute; bottom: -60px; right: 387px; z-index: 10; cursor: pointer; color: #ccc; text-align: center; font-size: 30px; line-height: 1; border: none; }
.display-slider .flex-direction-nav .flex-prev {left: 387px;}


.display-slider .flex-direction-nav .flex-prev:hover:before, .display-slider .flex-direction-nav .flex-next:hover:before { color: #48226d !important; }



/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media (min-width: 1200px) {

	.display-slider .flex-direction-nav a { bottom: 220px; right: -100px; }
	.display-slider .flex-direction-nav .flex-prev {left: -100px;}
	
}

@media (min-width: 768px) and (max-width: 979px) {
	.laptop-slider .flex-direction-nav a { bottom: -110px; right: 265px; }
	.laptop-slider .flex-direction-nav .flex-prev {left: 265px;}
	
	.display-slider .flex-direction-nav a { bottom: -60px; right: 327px; }
	.display-slider .flex-direction-nav .flex-prev {left: 327px;}
	
}

@media screen and (max-width: 767px) {
	.display-slider .flex-direction-nav { display: none; }
	.laptop-slider .flex-direction-nav { display: none; }
  .portfolio-slider .flex-direction-nav .flex-prev {opacity: 0,8; left: 15px; margin-bottom: 15px; bottom: 50%; }
  .portfolio-slider .flex-direction-nav .flex-next {opacity: 0,8; right: 15px; margin-bottom: 15px; bottom: 50%; }
  .slider-desc { display: none; }
  .slider-title { font-size: 18px; line-height: 1; letter-spacing: -1px; }
  .slider-text { background: none;  min-height: 0; background: url(../img/pattern.png); padding-right: 60px; padding-top: 20px; padding-bottom: 20px; padding-left: 60px; width: 100%; }
}