<!-- Start Homepage -->
<header id="home">
	<div class="header-bg"></div>
	<div class="pattern"></div>
	<div class="container">
		<div class="row">
			<div class="span4">

			</div>
			<!-- Navigation -->
			<nav id="topnav" class="span8">
				<ul id="fixed-nav" class="visible-desktop">
					<li class="current scroll-link"><a href="#home">Tandem</a></li>

					<li><a class="scroll-link" href="#about">How does it work?</a></li>
					<li><%= link_to "Join Now", new_user_registration_path, class: "scroll-link" %></li>
					<li><%= link_to "Log in", new_user_session_path, class: "scroll-link" %></li>

				</ul>
			</nav>
			<!-- End Navigation -->
		</div>
		<div class="row">
			<div class="span12">
				<div id="slidecaption">
					"Teach, learn and make <span class="color-text">friends"</span>
					<br>
					<%= link_to "Join Now", new_user_registration_path, class: "btn white scroll-link" %>
				</div>
			</div>
		</div>
	</div>
</header>



<div class="wrapper">
	
	<!-- Start Sticky Navigation -->
	<nav id="mainnav">
		<div class="container">
			<div class="row">
				<div class="span4">

				</div>
				<div class="span8">
					<ul id="fluid-nav" class="fluid-navigation visible-desktop">
						<li class="current"><a href="#home">Tandem</a></li>
						<li><a href="#about">How does it work?</a></li>
						<li><%= link_to "Join Now", new_user_registration_path, class: "btn white scroll-link" %>Join now</li>
						

					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- End Sticky Navigation -->

	<!-- Start About Page -->
	<section id="about" class="page page-gray">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="title"> <span class="color-text">Tandem</span> </div>
					<hr>
					<div class="lead">We don't like to study, we like to learn.</div>
					<div class="lead-small">Learn by doing is our philosophy, Tandem is a language platform exchange where you can connect with people around the globe, learn their language and teach yours.
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End About Page -->


	
	<!-- Start About Page -->
	<section id="about" class="page page-gray">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="title"> <span class="color-text">How does it work?</span> </div>
					<hr>
					<div class="lead">It's super simple.</div>
					<div class="lead-small">
					The only thing that you have to do is Sign Up! and tell us which languages you know and which ones you would like to learn. We will provide a list with the people you can talk to and once you schedule an appointment you will tandem! 
					</div>

				</div>
			</div>
		</div>
	</section>
		<!-- End About Page -->