<!-- Start Homepage -->
<header id="home">
	<div class="header-bg"></div>
	<div class="pattern"></div>
	<div class="container">
		<div class="row">
			<div class="span4">

			</div>
			<!-- Navigation -->
			<nav id="topnav" class="span8">
				<ul id="fixed-nav" class="visible-desktop">
					<li class="current scroll-link"><a href="#home">Tandem</a></li>
					<li><a class="scroll-link" href="#about">¿Cómo funciona?</a></li>
					<li><%= link_to "Únete", new_user_registration_path, class: "scroll-link" %></li>
					<li><%= link_to "Log in", new_user_session_path, class: "scroll-link" %></li>
				</ul>
			</nav>
			<!-- End Navigation -->
		</div>
		<div class="row">
			<div class="span12">
				<div id="slidecaption">
					"Enseña, aprende y haz <span class="color-text">amigos"</span>
					<br>
					<%= link_to "Únete", new_user_registration_path, class: "btn white scroll-link" %>
				</div>
			</div>
		</div>
	</div>
</header>



<div class="wrapper">
	
	<!-- Start Sticky Navigation -->
	<nav id="mainnav">
		<div class="container">
			<div class="row">
				<div class="span4">

				</div>
				<div class="span8">
					<ul id="fluid-nav" class="fluid-navigation visible-desktop">
						<li class="current"><a href="#home">Tandem</a></li>
						<li><a href="#about">¿Cómo funciona?</a></li>
						<li><a href="#contact">Únete</a></li>
						

					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- End Sticky Navigation -->

	<!-- Start About Page -->
	<section id="about" class="page page-gray">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="title"> <span class="color-text">Tandem</span> </div>
					<hr>
					<div class="lead">No nos gusta estudiar, nos gusta aprender.</div>
					<div class="lead-small">Nuestra filosofía es que se aprende haciendo, Tandem facilita una plataforma de intercambio de idiomas donde puedes conectar con personas de todo el mundo y practicar el idioma que estás aprendiendo y enseñar el idioma que ya sabes.
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End About Page -->


	
	<!-- Start About Page -->
	<section id="about" class="page page-gray">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="title"> <span class="color-text">¿Cómo funciona?</span> </div>
					<hr>
					<div class="lead">Es muy sencillo.</div>
					<div class="lead-small">Lo único que tienes que hacer es registrarte y decirnos que idiomas sabes y que idiomas quieres aprender, nosotros te daremos una lista de las personas con las puedes hablar y una vez que se pongan de acuerdo a través de la plataforma podrán hacer su tandem.
					</div>

				</div>
			</div>
		</div>
	</section>
		<!-- End About Page -->